.w3-theme-l5 {color:#fff !important; background-color:#040e08 !important}
.w3-theme-l4 {color:#fff !important; background-color:#113b22 !important}
.w3-theme-l3 {color:#fff !important; background-color:#1d683c !important}
.w3-theme-l2 {color:#fff !important; background-color:#2a9556 !important}
.w3-theme-l1 {color:#fff !important; background-color:#37c270 !important}
.w3-theme-d1 {color:#000 !important; background-color:#a6e5c0 !important}
.w3-theme-d2 {color:#000 !important; background-color:#b0e8c7 !important}
.w3-theme-d3 {color:#000 !important; background-color:#baebce !important}
.w3-theme-d4 {color:#000 !important; background-color:#c4eed5 !important}
.w3-theme-d5 {color:#000 !important; background-color:#cef1dc !important}

.w3-theme-light {color:#fff !important; background-color:#040e08 !important}
.w3-theme-dark {color:#000 !important; background-color:#cef1dc !important}
.w3-theme-action {color:#000 !important; background-color:#cef1dc !important}

.w3-theme {color:#000 !important; background-color:#aaebc5 !important}
.w3-text-theme {color:#aaebc5 !important}
.w3-border-theme {border-color:#aaebc5 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#aaebc5 !important}
.w3-hover-text-theme:hover {color:#aaebc5 !important}
.w3-hover-border-theme:hover {border-color:#aaebc5 !important}

.w3-code {
  border-left:4px solid #aaebc5;
}
.w3-code {
  color:#fff;
  background-color:#113b22;
}
.w3-codespan {
  color:#fff;
  background-color:#1d683c;
}

a{color: inherit !important;}

.w3-striped tbody tr:nth-child(even){
    background-color:#113b22
}

.w3-bordered tr{
    border-bottom:1px solid #fff
}

.w3-table tbody tr:hover,table li:hover{
  background-color:#1d683c
}

.search-results article:hover {
  background-color:#1d683c
}

